extends layout

block content
  h1= title

  form(style='display: flex; flex-direction: column; gap: 2em; max-width:50vw' method='POST' action='')
    div.form-group(style='display: flex; flex-direction: column')
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Title' name='title' required='true' value=(undefined===message ? '' : message.title) )
    div.form-group(style='display: flex; flex-direction: column')
      label(for='message') Message:
      textarea(style='resize: none' cols="60" rows="15" placeholder='Enter your message here' name='message' required='true' value=(undefined === message ? '' : message.message))
    div(style='display: flex; justify-content: center')
      button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
