extends layout

block content

    div
        h1= title

    if user
        if !user.membership
            div(style='max-width: 40vw; text-align: center')
                form(style='display: flex; flex-direction: column; gap: 1em;' method='POST' action='')
                    div.form-group(style=' padding: 1em; display: flex; flex-direction: column; gap: 1em; font-size: 2vh;')
                        label(for='code') Who is a good boy? (Hint: Dog from the third installment of critically acclaimed role-playing game published by Larian Studios in 2023): 
                        input#code.form-control(type='password', placeholder='Enter' name='code' required='true')
                    div(style='display: flex; align-self: center')
                        button.btn.btn-primary(type='submit') Submit
        else 
            p You are already a member!
    else 
        h4 Please log in to apply for membership 
            
    if errors
        ul
        for error in errors
            li!= error.msg
