extends layout

block content

    div
        h1= title

    if user
        form(style='display: flex; flex-direction: column; gap: 1em;' method='POST' action='')
            div.form-group(style=' padding: 1em; display: flex; flex-direction: column; gap: 1em; font-size: 2vh;')
                label(for='code') Who is a good boy? (Hint: Dog): 
                input#code.form-control(type='password', placeholder='Enter' name='code' required='true')
            button.btn.btn-primary(type='submit') Submit
    else 
        h4 Please log in to apply for membership 
            
    if errors
        ul
        for error in errors
            li!= error.msg
